.version.about_me /* version checker */
{
	color: #000016;
	background-color: #765DDF;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 761px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #333333;
	margin-left: auto;
	margin-right: auto;
}

#pu3090
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -50px;
}

#u3090
{
	z-index: 2;
	width: 848px;
	margin-left: 50px;
	position: relative;
	padding: 17px 47px 11.049999999999983px;
}

#u3237-6
{
	z-index: 52;
	width: 308px;
	min-height: 83px;
	margin-left: 270px;
	position: relative;
}

#menuu3110
{
	z-index: 6;
	width: 848px;
	margin-top: 6px;
	position: relative;
}

#u3111
{
	width: 139px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u3112
{
	width: 139px;
	padding-bottom: 17px;
	position: relative;
}

#u3112:hover
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3112:active
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3114-4
{
	width: 139px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3112:hover #u3114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3112:active #u3114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3118
{
	width: 139px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 141px;
}

#u3119
{
	width: 139px;
	padding-bottom: 17px;
	position: relative;
}

#u3112.MuseMenuActive,#u3119:hover
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3119:active
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3119.MuseMenuActive
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3122-4
{
	width: 139px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3112.MuseMenuActive #u3114-4,#u3119:hover #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3119:active #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3119.MuseMenuActive #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u4801
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u4802
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u4802:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u4802:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u4804-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u4802:hover #u4804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u4802:active #u4804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3155
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 424px;
}

#u3156
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u4802.MuseMenuActive,#u3156:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3156:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3158-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u4802.MuseMenuActive #u4804-4,#u3156:hover #u3158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3156:active #u3158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3176
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 566px;
}

#u3177
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u3156.MuseMenuActive,#u3177:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3177:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3178-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3156.MuseMenuActive #u3158-4,#u3177:hover #u3178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3177:active #u3178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3197
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 708px;
}

#u3198
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u3177.MuseMenuActive,#u3198:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3198:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3198.MuseMenuActive
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3200-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3177.MuseMenuActive #u3178-4,#u3198:hover #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3198:active #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3198.MuseMenuActive #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#pppu3389
{
	width: 0.01px;
}

#ppu3389
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 51px;
	margin-left: 130px;
}

#pu3389
{
	width: 0.01px;
	margin-left: 357px;
}

#u3389
{
	z-index: 82;
	width: 369px;
	height: 19px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	border-width: 0px 0px 1px;
}

#u3395-6
{
	z-index: 88;
	width: 351px;
	min-height: 21px;
	background-color: transparent;
	text-align: left;
	color: #534741;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#ppu2040
{
	width: 0.01px;
	margin-left: 34px;
	margin-top: -1px;
}

#pu2040
{
	width: 0.01px;
	margin-right: -10000px;
}

#u2040
{
	z-index: 79;
	width: 20px;
	height: 20px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 221px;
}

#u1291
{
	z-index: 80;
	width: 237px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 160px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u1292
{
	z-index: 81;
	width: 225px;
	height: 218px;
	border-radius: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
	background: transparent url("../images/milena%20kiseleva%202.jpg") no-repeat center center;
	background-size: cover;
}

#ppu3391
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 13px;
	margin-left: 321px;
}

#pu3391
{
	width: 0.01px;
	margin-left: 3px;
}

#u3391
{
	z-index: 84;
	width: 369px;
	height: 19px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 0px 0px 1px;
}

#u3396-6
{
	z-index: 94;
	width: 351px;
	min-height: 21px;
	background-color: transparent;
	text-align: left;
	color: #534741;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#pu3390
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 12px;
}

#u3390
{
	z-index: 83;
	width: 369px;
	height: 19px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	border-width: 0px 0px 1px;
}

#u3397-6
{
	z-index: 100;
	width: 351px;
	min-height: 21px;
	background-color: transparent;
	text-align: left;
	color: #534741;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#pu3392
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 11px;
}

#u3392
{
	z-index: 85;
	width: 369px;
	height: 19px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 0px 0px 1px;
}

#u3398-6
{
	z-index: 106;
	width: 350px;
	min-height: 21px;
	background-color: transparent;
	text-align: left;
	color: #534741;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u3393
{
	z-index: 86;
	width: 369px;
	height: 19px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 0px 0px 1px;
}

#u3399-7
{
	z-index: 112;
	width: 350px;
	min-height: 21px;
	background-color: transparent;
	text-align: left;
	color: #534741;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u3399-3
{
	color: #FF00FF;
}

#pu3393,#pu3394
{
	width: 0.01px;
	margin-top: 12px;
}

#u3394
{
	z-index: 87;
	width: 369px;
	height: 19px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 0px 0px 1px;
}

#u3400-6
{
	z-index: 119;
	width: 350px;
	min-height: 21px;
	background-color: transparent;
	text-align: left;
	color: #777777;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u3395,#u3396,#u3397,#u3398,#u3399,#u3400
{
	color: #E792C4;
}

#u3400-2
{
	color: #534741;
}

#u3395-3,#u3396-3,#u3397-3,#u3398-3,#u3400-3
{
	color: #7F7F7F;
}

#u1290-14
{
	z-index: 65;
	width: 782px;
	min-height: 270px;
	background-color: transparent;
	text-align: center;
	color: #9E9E9E;
	font-family: bitter, serif;
	font-weight: 400;
	margin-top: 66px;
	position: relative;
}

#u1290-2,#u1290-4,#u1290-6,#u1290-7,#u1290-9,#u1290-10,#u1290-11
{
	font-size: 19px;
	line-height: 23px;
}

#u1290-12
{
	font-size: 16px;
	line-height: 19px;
}

#u3099
{
	z-index: 4;
	width: 111px;
	min-height: 271px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u3104
{
	z-index: 5;
	width: 17px;
	height: 515px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#pu4273-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 167px;
	margin-left: 942px;
}

#u4273-4
{
	z-index: 43;
	margin-bottom: -8px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u3222-5
{
	z-index: 47;
	width: 114px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: -44px;
}

#u3093
{
	z-index: 3;
	width: 942px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u3252-6
{
	z-index: 58;
	width: 782px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 80px;
}

#u3252-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 782px;
	margin: 30px -10000px 0px 0px;
}

#u4305
{
	z-index: 64;
	width: 33px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 953px;
}

.html
{
	background-color: #1A1A1A;
}

body
{
	position: relative;
	min-width: 942px;
}

.verticalspacer
{
	min-height: 1px;
}

