.version.contact_thanks /* version checker */
{
	color: #00001A;
	background-color: #CEC188;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 761px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #333333;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -6px;
	width: 0.01px;/* should not cover content below */
}

#u3090
{
	z-index: 2;
	width: 848px;
	position: relative;
	padding: 17px 47px 11.049999999999983px;
}

#u3237-6
{
	z-index: 52;
	width: 308px;
	min-height: 83px;
	margin-left: 270px;
	position: relative;
}

#menuu3110
{
	z-index: 6;
	width: 848px;
	margin-top: 6px;
	position: relative;
}

#u3111
{
	width: 139px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u3112
{
	width: 139px;
	padding-bottom: 17px;
	position: relative;
}

#u3112:hover
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3112:active
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3114-4
{
	width: 139px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3112:hover #u3114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3112:active #u3114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3118
{
	width: 139px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 141px;
}

#u3119
{
	width: 139px;
	padding-bottom: 17px;
	position: relative;
}

#u3112.MuseMenuActive,#u3119:hover
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3119:active
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3119.MuseMenuActive
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3122-4
{
	width: 139px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3112.MuseMenuActive #u3114-4,#u3119:hover #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3119:active #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3119.MuseMenuActive #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u4801
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u4802
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u4802:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u4802:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u4804-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u4802:hover #u4804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u4802:active #u4804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3155
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 424px;
}

#u3156
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u4802.MuseMenuActive,#u3156:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3156:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3158-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u4802.MuseMenuActive #u4804-4,#u3156:hover #u3158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3156:active #u3158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3176
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 566px;
}

#u3177
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u3156.MuseMenuActive,#u3177:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3177:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3178-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3156.MuseMenuActive #u3158-4,#u3177:hover #u3178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3177:active #u3178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3197
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 708px;
}

#u3198
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u3177.MuseMenuActive,#u3198:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3198:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3198.MuseMenuActive
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3200-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3177.MuseMenuActive #u3178-4,#u3198:hover #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3198:active #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3198.MuseMenuActive #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#pu3099
{
	width: 0.01px;
	margin-left: -50px;
}

#u3099
{
	z-index: 4;
	width: 111px;
	min-height: 271px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u3104
{
	z-index: 5;
	width: 17px;
	height: 515px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u4273-4
{
	z-index: 43;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 991px;
}

#u3222-5
{
	z-index: 47;
	width: 114px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 946px;
}

#u1289-10
{
	z-index: 65;
	width: 782px;
	min-height: 56px;
	background-color: transparent;
	color: #9E9E9E;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 130px;
}

#u3093
{
	z-index: 3;
	width: 942px;
	padding-bottom: 28px;
	margin-top: 73px;
	position: relative;
}

#u3252-6
{
	z-index: 58;
	width: 622px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 160px;
}

#u3252-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 622px;
	margin: 30px -10000px 0px 0px;
}

#u4305
{
	z-index: 64;
	width: 33px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 893px;
}

.html
{
	background-color: #1A1A1A;
}

body
{
	position: relative;
	min-width: 942px;
}

