.subhead
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.White-Link,.Pink-Link,.Character-Style
{
	font-family: bitter-n4, serif;
}

#u3237-6,#u3222-5,#u3252-4
{
	font-family: bitter-n4, serif;
}


#u1423-4
{
	font-family: bitter-n4, serif;
}

