.subhead
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, serif;
}

.White-Link,.Pink-Link,.Character-Style
{
	font-family: bitter-n4, serif;
}

#u5605-4,#u5609-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5612-6,#u5626-4
{
	font-family: open-sans-n4, sans-serif;
}

