.subhead
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.White-Link,.Pink-Link,.Character-Style
{
	font-family: bitter-n4, serif;
}

#u3237-6,#u3222-5,#u3252-6
{
	font-family: bitter-n4, serif;
}


#u1253-86
{
	font-family: bitter-n4, serif;
}

#u1253-48 > #u1253-39:before,#u1253-48 > #u1253-41:before,#u1253-48 > #u1253-43:before,#u1253-48 > #u1253-45:before,#u1253-48 > #u1253-47:before,#u1253-59 > #u1253-56:before,#u1253-59 > #u1253-58:before,#u1253-71 > #u1253-64:before,#u1253-71 > #u1253-66:before,#u1253-71 > #u1253-68:before,#u1253-71 > #u1253-70:before,#u1253-79 > #u1253-76:before,#u1253-79 > #u1253-78:before
{
	font-family: bitter-n4, Georgia;
}

