.subhead
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.White-Link,.Pink-Link,.Character-Style
{
	font-family: bitter-n4, serif;
}

#u3237-6,#u3222-5,#u3252-6
{
	font-family: bitter-n4, serif;
}


#u1253-107
{
	font-family: bitter-n4, serif;
}

#u1253-52 > #u1253-43:before,#u1253-52 > #u1253-45:before,#u1253-52 > #u1253-47:before,#u1253-52 > #u1253-49:before,#u1253-52 > #u1253-51:before,#u1253-63 > #u1253-60:before,#u1253-63 > #u1253-62:before,#u1253-83 > #u1253-68:before,#u1253-83 > #u1253-70:before,#u1253-83 > #u1253-72:before,#u1253-83 > #u1253-74:before,#u1253-83 > #u1253-76:before,#u1253-83 > #u1253-78:before,#u1253-83 > #u1253-80:before,#u1253-83 > #u1253-82:before,#u1253-91 > #u1253-88:before,#u1253-91 > #u1253-90:before,#u1253-100 > #u1253-97:before,#u1253-100 > #u1253-99:before
{
	font-family: bitter-n4, Georgia;
}

