.version.portfolio /* version checker */
{
	color: #0000E1;
	background-color: #283A95;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 760.5px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #333333;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#u3090
{
	z-index: 2;
	width: 848px;
	position: relative;
	padding: 17px 47px 11.049999999999983px;
}

#u3237-6
{
	z-index: 52;
	width: 308px;
	min-height: 83px;
	margin-left: 270px;
	position: relative;
}

#menuu3110
{
	z-index: 6;
	width: 848px;
	margin-top: 6px;
	position: relative;
}

#u3111
{
	width: 139px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u3112
{
	width: 139px;
	padding-bottom: 17px;
	position: relative;
}

#u3112:hover
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3112:active
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3114-4
{
	width: 139px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3112:hover #u3114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3112:active #u3114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3118
{
	width: 139px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 141px;
}

#u3119
{
	width: 139px;
	padding-bottom: 17px;
	position: relative;
}

#u3112.MuseMenuActive,#u3119:hover
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3119:active
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3119.MuseMenuActive
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3122-4
{
	width: 139px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3112.MuseMenuActive #u3114-4,#u3119:hover #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3119:active #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3119.MuseMenuActive #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u4801
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u4802
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u4802:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u4802:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u4804-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u4802:hover #u4804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u4802:active #u4804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3155
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 424px;
}

#u3156
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u4802.MuseMenuActive,#u3156:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3156:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3158-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u4802.MuseMenuActive #u4804-4,#u3156:hover #u3158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3156:active #u3158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3176
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 566px;
}

#u3177
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u3156.MuseMenuActive,#u3177:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3177:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3178-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3156.MuseMenuActive #u3158-4,#u3177:hover #u3178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3177:active #u3178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3197
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 708px;
}

#u3198
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u3177.MuseMenuActive,#u3198:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3198:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3198.MuseMenuActive
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3200-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3177.MuseMenuActive #u3178-4,#u3198:hover #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3198:active #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3198.MuseMenuActive #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#pppu1760-5
{
	width: 0.01px;
	margin-left: -50px;
}

#ppu1760-5
{
	width: 0.01px;
	margin: 25px -10000px -1px 130px;
}

#u1760-5
{
	z-index: 65;
	width: 782px;
	min-height: 26px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1760
{
	color: #000000;
}

#u1760-2
{
	color: #9E9E9E;
}

#u4522
{
	z-index: 106;
	width: 68px;
	min-height: 51px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 747px;
}

#pu3841-9
{
	width: 0.01px;
	margin-top: 24px;
}

#u3841-9
{
	z-index: 73;
	width: 782px;
	min-height: 70px;
	background-color: transparent;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3841-6
{
	font-size: 20px;
	text-align: left;
	color: #000000;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3841-4
{
	font-size: 16px;
	line-height: 19px;
}

#u3841-5
{
	font-size: 16px;
	color: #9E9E9E;
	line-height: 19px;
}

#u4002
{
	z-index: 91;
	width: 782px;
	height: 19px;
	border-style: solid;
	border-color: #00FFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 0px 0px 1px;
}

#page_position_content,#pu1760-5,#pu3750
{
	width: 0.01px;/* should not cover content below */
}

#u3750
{
	z-index: 72;
	width: 244px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #0093C4;
	padding-bottom: 2px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: #7F7F7F url("../images/milenakiselevablogspotcom.jpg") no-repeat center top;
	background-size: cover;
}

#u3750:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 244px;
	min-height: 0px;
	margin: 1px -10000px -1px 0px;
	background-size: cover;
}

#u4546-4
{
	z-index: 107;
	width: 239px;
	min-height: 151px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u4546-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 151px;
	width: 239px;
	margin: 2px -10000px 0px 0px;
}

#u4546-2
{
	padding-top: 76px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u3749
{
	z-index: 71;
	width: 244px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #0093C4;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 269px;
	background: #7F7F7F url("../images/milenarussianprincess.jpg") no-repeat center top;
	background-size: cover;
}

#u3749:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 244px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u4549-4
{
	z-index: 111;
	width: 245px;
	min-height: 151px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: -2px;
}

#u4349
{
	z-index: 105;
	width: 244px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #0093C4;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 536px;
	background: #7F7F7F url("../images/milenakiselevagithubio.jpg") no-repeat center top;
	background-size: cover;
}

#u4349:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 244px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u4552-4
{
	z-index: 115;
	width: 245px;
	min-height: 151px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u4549-4:hover,#u4552-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 151px;
	width: 245px;
	margin: 3px -10000px 0px 0px;
}

#u3748
{
	z-index: 70;
	width: 244px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #0093C4;
	margin-top: 24px;
	position: relative;
	background: #7F7F7F url("../images/karolinaraytk%20(home).jpg") no-repeat center center;
	background-size: cover;
}

#u3748:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 244px;
	min-height: 0px;
	margin: 24px 0px 0px;
	background-size: cover;
}

#u4555-4
{
	z-index: 119;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u3099
{
	z-index: 4;
	width: 111px;
	min-height: 271px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u3104
{
	z-index: 5;
	width: 17px;
	height: 515px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u4273-4
{
	z-index: 43;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 991px;
}

#u3222-5
{
	z-index: 47;
	width: 114px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 948px;
}

#pu3844-6
{
	width: 0.01px;
	margin-left: 79px;
	margin-top: 67px;
}

#u3844-6
{
	z-index: 82;
	width: 782px;
	min-height: 75px;
	background-color: transparent;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u3847
{
	z-index: 88;
	width: 244px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #0093C4;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 1px;
	background: #7F7F7F url("../images/liner-multimedia-buttons.jpg") no-repeat center center;
	background-size: cover;
}

#u3847:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 244px;
	min-height: 0px;
	margin: 53px -10000px -1px 0px;
	background-size: cover;
}

#u4558-4
{
	z-index: 123;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u3850
{
	z-index: 89;
	width: 244px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #0093C4;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 269px;
	background: #7F7F7F url("../images/different-genders.jpg") no-repeat center center;
	background-size: cover;
}

#u3850:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 244px;
	min-height: 0px;
	margin: 53px -10000px -1px 0px;
	background-size: cover;
}

#u4561-4
{
	z-index: 127;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u3853
{
	z-index: 90;
	width: 244px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #0093C4;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 537px;
	background: #7F7F7F url("../images/weather-liner.jpg") no-repeat center center;
	background-size: cover;
}

#u3853:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 244px;
	min-height: 0px;
	margin: 53px -10000px -1px 0px;
	background-size: cover;
}

#u4564-4
{
	z-index: 131;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4005
{
	z-index: 92;
	width: 782px;
	height: 19px;
	border-style: solid;
	border-color: #00FFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	border-width: 0px 0px 1px;
}

#u4608
{
	z-index: 139;
	width: 244px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #0093C4;
	padding-bottom: 1px;
	margin-left: 79px;
	margin-top: 26px;
	position: relative;
	background: #7F7F7F url("../images/weather-colored-liner.jpg") no-repeat center center;
	background-size: cover;
}

#u4608:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 244px;
	min-height: 0px;
	margin: 26px 0px 0px 79px;
	background-size: cover;
}

#u4619-4
{
	z-index: 140;
	width: 245px;
	min-height: 155px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4619-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 155px;
	width: 245px;
	margin: -1px -10000px 0px 0px;
}

#pu4874-6
{
	width: 0.01px;
	margin-left: 79px;
	margin-top: 60px;
}

#u4874-6
{
	z-index: 144;
	width: 782px;
	min-height: 75px;
	background-color: transparent;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u4878
{
	z-index: 150;
	width: 782px;
	height: 19px;
	border-style: solid;
	border-color: #00FFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	border-width: 0px 0px 1px;
}

#u4879
{
	z-index: 151;
	width: 244px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #0093C4;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 269px;
	background: #7F7F7F url("../images/easter-eggs.jpg") no-repeat center center;
	background-size: cover;
}

#u4879:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 244px;
	min-height: 0px;
	margin: 60px -10000px -1px 0px;
	background-size: cover;
}

#u3750:hover::before,#u3749:hover::before,#u4349:hover::before,#u3748:hover::before,#u3847:hover::before,#u3850:hover::before,#u3853:hover::before,#u4608:hover::before,#u4879:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset -10px 58px 99px rgba(255,255,255,0.75), inset 10px -58px 99px rgba(0,0,0,0.75);
}

#u4883-4
{
	z-index: 152;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4555-4:hover,#u4558-4:hover,#u4561-4:hover,#u4564-4:hover,#u4883-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 156px;
	width: 245px;
	margin: -1px -10000px 0px 0px;
}

#pu4276-6
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 59px;
}

#u4276-6
{
	z-index: 93;
	width: 782px;
	min-height: 300px;
	background-color: transparent;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3841-2,#u3844-2,#u4874-2,#u4276-2
{
	font-size: 25px;
	text-align: center;
	line-height: 30px;
	color: #0093C4;
}

#u3841-3,#u3844-3,#u4874-3,#u4276-3
{
	font-size: 25px;
	text-align: left;
	line-height: 30px;
	color: #0093C4;
}

#u3841-7,#u3844-4,#u4874-4,#u4276-4
{
	font-size: 20px;
	text-align: left;
	line-height: 24px;
	color: #000000;
}

#u4277
{
	z-index: 99;
	width: 245px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 0px;
	border-color: transparent;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 269px;
	background: #FFFFFF url("../images/rss-feed.png") no-repeat center top;
	background-size: contain;
}

#u4277:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 245px;
	min-height: 0px;
	margin: 68px -10000px 0px 0px;
	background-size: contain;
}

#u4277:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset -10px 58px 99px rgba(255,255,255,0.75), inset 10px -58px 99px rgba(0,0,0,0.75);
}

#u4570-4
{
	z-index: 135;
	width: 241px;
	min-height: 158px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 2px;
}

#u4570-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 158px;
	width: 241px;
	margin: 3px -10000px 0px 0px;
}

#u4546-4:hover p,#u4549-4:hover p,#u4552-4:hover p,#u4555-4:hover p,#u4558-4:hover p,#u4561-4:hover p,#u4564-4:hover p,#u4619-4:hover p,#u4883-4:hover p,#u4570-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	padding-top: 80px;
	font-size: 19px;
}

#u4549-2,#u4552-2,#u4555-2,#u4558-2,#u4561-2,#u4564-2,#u4619-2,#u4883-2,#u4570-2
{
	padding-top: 60px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u4278-4
{
	z-index: 100;
	width: 245px;
	min-height: 23px;
	background-color: #FFFFFF;
	line-height: 22px;
	color: #9E9E9E;
	text-align: center;
	font-size: 18px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 269px;
}

#u4279
{
	z-index: 104;
	width: 782px;
	height: 19px;
	border-style: solid;
	border-color: #00FFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	border-width: 0px 0px 1px;
}

#pu3093
{
	width: 0.01px;
	margin-top: -1px;
}

#u3093
{
	z-index: 3;
	width: 942px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u3252-6
{
	z-index: 58;
	width: 782px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 80px;
}

#u3252-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 782px;
	margin: 30px -10000px 0px 0px;
}

#u4305
{
	z-index: 64;
	width: 33px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 953px;
}

.html
{
	background-color: #1A1A1A;
}

body
{
	position: relative;
	min-width: 942px;
}

