.version.portfolio /* version checker */
{
	color: #000007;
	background-color: #DC358D;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 761px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #333333;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -13px;
	width: 0.01px;/* should not cover content below */
}

#u3090
{
	z-index: 2;
	width: 848px;
	position: relative;
	padding: 17px 47px 11.049999999999983px;
}

#u3237-6
{
	z-index: 52;
	width: 308px;
	min-height: 83px;
	margin-left: 270px;
	position: relative;
}

#menuu3110
{
	z-index: 6;
	width: 848px;
	margin-top: 6px;
	position: relative;
}

#u3111
{
	width: 139px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u3112
{
	width: 139px;
	padding-bottom: 17px;
	position: relative;
}

#u3112:hover
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3112:active
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3114-4
{
	width: 139px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3112:hover #u3114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3112:active #u3114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3118
{
	width: 139px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 141px;
}

#u3119
{
	width: 139px;
	padding-bottom: 17px;
	position: relative;
}

#u3112.MuseMenuActive,#u3119:hover
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3119:active
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3119.MuseMenuActive
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3122-4
{
	width: 139px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3112.MuseMenuActive #u3114-4,#u3119:hover #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3119:active #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3119.MuseMenuActive #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u4801
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u4802
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u4802:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u4802:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u4804-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u4802:hover #u4804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u4802:active #u4804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3155
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 424px;
}

#u3156
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u4802.MuseMenuActive,#u3156:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3156:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3158-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u4802.MuseMenuActive #u4804-4,#u3156:hover #u3158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3156:active #u3158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3176
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 566px;
}

#u3177
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u3156.MuseMenuActive,#u3177:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3177:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3178-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3156.MuseMenuActive #u3158-4,#u3177:hover #u3178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3177:active #u3178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3197
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 708px;
}

#u3198
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u3177.MuseMenuActive,#u3198:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3198:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3198.MuseMenuActive
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3200-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3177.MuseMenuActive #u3178-4,#u3198:hover #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3198:active #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3198.MuseMenuActive #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#ppu1760-5
{
	width: 0.01px;
	margin-left: -50px;
}

#pu1760-5
{
	width: 0.01px;
	margin: 25px -10000px -1px 130px;
}

#u1760-5
{
	z-index: 71;
	width: 782px;
	min-height: 26px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1760
{
	color: #000000;
}

#u1760-2
{
	color: #9E9E9E;
}

#u3841-9
{
	z-index: 79;
	width: 782px;
	min-height: 70px;
	background-color: transparent;
	font-family: bitter, serif;
	font-weight: 400;
	margin-top: 37px;
	position: relative;
}

#u3841-2
{
	font-size: 25px;
	text-align: center;
	line-height: 30px;
	color: #E792C4;
}

#u3841-3
{
	font-size: 25px;
	text-align: left;
	line-height: 30px;
	color: #0093C4;
}

#u3841-6
{
	font-size: 20px;
	text-align: left;
	color: #000000;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3841-4
{
	font-size: 16px;
	line-height: 19px;
}

#u3841-5
{
	font-size: 16px;
	color: #9E9E9E;
	line-height: 19px;
}

#u3841-7
{
	font-size: 20px;
	text-align: left;
	line-height: 24px;
	color: #000000;
}

#u3750
{
	z-index: 78;
	width: 244px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	padding-bottom: 2px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: #7F7F7F url("../images/milenakiselevablogspotcom.jpg") no-repeat center top;
	background-size: cover;
}

#u3750:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 244px;
	min-height: 0px;
	margin: 1px -10000px -1px 0px;
	background-size: cover;
}

#u4546-4
{
	z-index: 94;
	width: 239px;
	min-height: 151px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u4546-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 151px;
	width: 239px;
	margin: 2px -10000px 0px 0px;
}

#u4546-2
{
	padding-top: 76px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u3749
{
	z-index: 77;
	width: 244px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 269px;
	background: #7F7F7F url("../images/milenarussianprincess.jpg") no-repeat center top;
	background-size: cover;
}

#u3749:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 244px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u4549-4
{
	z-index: 98;
	width: 245px;
	min-height: 151px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: -2px;
}

#u4349
{
	z-index: 92;
	width: 244px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 536px;
	background: #7F7F7F url("../images/milenakiselevagithubio.jpg") no-repeat center top;
	background-size: cover;
}

#u4349:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 244px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u4552-4
{
	z-index: 102;
	width: 245px;
	min-height: 151px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u4549-4:hover,#u4552-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 151px;
	width: 245px;
	margin: 3px -10000px 0px 0px;
}

#u3748
{
	z-index: 76;
	width: 244px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	margin-top: 24px;
	position: relative;
	background: #7F7F7F url("../images/karolinaraytk%20(home).jpg") no-repeat center center;
	background-size: cover;
}

#u3748:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 244px;
	min-height: 0px;
	margin: 24px 0px 0px;
	background-size: cover;
}

#u3750:hover::before,#u3749:hover::before,#u4349:hover::before,#u3748:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset -10px 58px 99px rgba(255,255,255,0.75), inset 10px -58px 99px rgba(0,0,0,0.75);
}

#u4555-4
{
	z-index: 106;
	width: 245px;
	min-height: 156px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4555-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 156px;
	width: 245px;
	margin: -1px -10000px 0px 0px;
}

#u4546-4:hover p,#u4549-4:hover p,#u4552-4:hover p,#u4555-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 19px;
	padding-top: 80px;
}

#ppu4273-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 16px;
	margin-left: 992px;
}

#pu3750,#pu4273-4
{
	width: 0.01px;
}

#u4273-4
{
	z-index: 43;
	margin-bottom: -8px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u3222-5
{
	z-index: 47;
	width: 114px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: -44px;
}

#u4522
{
	z-index: 93;
	width: 68px;
	min-height: 51px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 14px;
	margin-top: 23px;
	position: relative;
}

#u3099
{
	z-index: 4;
	width: 111px;
	min-height: 271px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u3104
{
	z-index: 5;
	width: 17px;
	height: 515px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u3844-4
{
	z-index: 88;
	width: 782px;
	min-height: 60px;
	background-color: transparent;
	color: #E792C4;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-left: 79px;
	margin-top: 66px;
	position: relative;
}

#pu5379-4
{
	width: 0.01px;
	margin-left: 78px;
}

#u5379-4
{
	z-index: 171;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/liner-multimedia-buttons.jpg") no-repeat center center;
	background-size: cover;
}

#u5379-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 0px -10000px -1px 0px;
	background-size: cover;
}

#u5371-4
{
	z-index: 167;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 269px;
	background: #7F7F7F url("../images/different-genders.jpg") no-repeat center center;
	background-size: cover;
}

#u5371-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 0px -10000px -1px 0px;
	background-size: cover;
}

#u5363-4
{
	z-index: 163;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 539px;
	background: #7F7F7F url("../images/weather-liner.jpg") no-repeat center center;
	background-size: cover;
}

#u5363-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 0px -10000px -1px 0px;
	background-size: cover;
}

#pu5355-4
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 21px;
}

#u5355-4
{
	z-index: 159;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/weather-colored-liner.jpg") no-repeat center center;
	background-size: cover;
}

#u5355-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u5347-4
{
	z-index: 155;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 268px;
	background: #7F7F7F url("../images/ice-cream.jpg") no-repeat center center;
	background-size: cover;
}

#u5347-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 1px -10000px -1px 0px;
	background-size: cover;
}

#u5339-4
{
	z-index: 151;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 536px;
	background: #7F7F7F url("../images/snowflakes-liner.jpg") no-repeat center center;
	background-size: cover;
}

#u5339-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u4549-2,#u4552-2,#u4555-2,#u5379-2,#u5371-2,#u5363-2,#u5355-2,#u5339-2
{
	padding-top: 60px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#pu5318-4
{
	width: 0.01px;
	margin-left: 79px;
	margin-top: 21px;
}

#u5318-4
{
	z-index: 147;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/snowflakes-coloured-liner.jpg") no-repeat center center;
	background-size: cover;
}

#u5318-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u5387-4
{
	z-index: 175;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 269px;
	background: #7F7F7F url("../images/christmas-tree-ball-with-snowflakes.jpg") no-repeat center center;
	background-size: cover;
}

#u5387-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 1px -10000px -1px 0px;
	background-size: cover;
}

#u5398-4
{
	z-index: 179;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 538px;
	background: #7F7F7F url("../images/we-are-different-v2.jpg") no-repeat center center;
	background-size: cover;
}

#u5398-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 1px -10000px -1px 0px;
	background-size: cover;
}

#u5409-4
{
	z-index: 183;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/we-are-different-v1.jpg") no-repeat center center;
	background-size: cover;
}

#u5409-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 0px -10000px -1px 0px;
	background-size: cover;
}

#u5412-4
{
	z-index: 187;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 269px;
	background: #7F7F7F url("../images/easter.jpg") no-repeat center center;
	background-size: cover;
}

#u5412-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 0px -10000px -1px 0px;
	background-size: cover;
}

#u5415-4
{
	z-index: 191;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 539px;
	background: #7F7F7F url("../images/easter-eggs.jpg") no-repeat center center;
	background-size: cover;
}

#u5415-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 0px -10000px -1px 0px;
	background-size: cover;
}

#u5450-4
{
	z-index: 195;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: #7F7F7F url("../images/easter-eggs-v2-1.jpg") no-repeat center center;
	background-size: cover;
}

#u5450-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 1px -10000px -1px 0px;
	background-size: cover;
}

#u5461-4
{
	z-index: 199;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 269px;
	background: #7F7F7F url("../images/travel-69.jpg") no-repeat center center;
	background-size: cover;
}

#u5461-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u5464-4
{
	z-index: 203;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 538px;
	background: #7F7F7F url("../images/liner-multimedia-buttons-1.jpg") no-repeat center center;
	background-size: cover;
}

#u5464-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#pu5409-4,#pu5450-4,#pu5483-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 21px;
}

#u5483-4
{
	z-index: 207;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: #7F7F7F url("../images/leafs.jpg") no-repeat center center;
	background-size: cover;
}

#u5483-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 1px -10000px -1px 0px;
	background-size: cover;
}

#u5486-4
{
	z-index: 211;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 269px;
	background: #7F7F7F url("../images/leafs-1.jpg") no-repeat center center;
	background-size: cover;
}

#u5486-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 1px -10000px -1px 0px;
	background-size: cover;
}

#u5489-4
{
	z-index: 215;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 538px;
	background: #7F7F7F url("../images/leafs-black-liner.jpg") no-repeat center center;
	background-size: cover;
}

#u5489-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u5516-4
{
	z-index: 219;
	width: 244px;
	min-height: 154px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-left: 78px;
	margin-top: 23px;
	position: relative;
	background: #7F7F7F url("../images/social-life.jpg") no-repeat center center;
	background-size: cover;
}

#u5516-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 244px;
	margin: 23px 0px 0px 78px;
	background-size: cover;
}

#u5379-4:hover::before,#u5371-4:hover::before,#u5363-4:hover::before,#u5355-4:hover::before,#u5347-4:hover::before,#u5339-4:hover::before,#u5318-4:hover::before,#u5387-4:hover::before,#u5398-4:hover::before,#u5409-4:hover::before,#u5412-4:hover::before,#u5415-4:hover::before,#u5450-4:hover::before,#u5461-4:hover::before,#u5464-4:hover::before,#u5483-4:hover::before,#u5486-4:hover::before,#u5489-4:hover::before,#u5516-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset -10px 58px 99px rgba(255,255,255,0.75), inset 10px -58px 99px rgba(0,0,0,0.75);
}

#u5379-4:hover p,#u5371-4:hover p,#u5363-4:hover p,#u5355-4:hover p,#u5347-4:hover p,#u5339-4:hover p,#u5318-4:hover p,#u5387-4:hover p,#u5398-4:hover p,#u5409-4:hover p,#u5412-4:hover p,#u5415-4:hover p,#u5450-4:hover p,#u5461-4:hover p,#u5464-4:hover p,#u5483-4:hover p,#u5486-4:hover p,#u5489-4:hover p,#u5516-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 19px;
	padding-top: 62px;
}

#u5347-2,#u5318-2,#u5387-2,#u5398-2,#u5409-2,#u5412-2,#u5415-2,#u5450-2,#u5461-2,#u5464-2,#u5483-2,#u5486-2,#u5489-2,#u5516-2
{
	padding-top: 62px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u5168-4
{
	z-index: 114;
	width: 782px;
	min-height: 60px;
	background-color: transparent;
	color: #E792C4;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-left: 80px;
	margin-top: 32px;
	position: relative;
}

#pu5167
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 5px;
}

#u5167
{
	z-index: 113;
	width: 231px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 14px;
	border-color: #FFFFFF;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: -7px;
	background: #FFFFFF url("../images/clown.png") no-repeat center center;
	background-size: contain;
}

#u5167:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 231px;
	min-height: 0px;
	margin: -7px -10000px -7px 0px;
	background-size: contain;
}

#u5169-4
{
	z-index: 118;
	width: 238px;
	min-height: 238px;
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -4px;
}

#u5170
{
	z-index: 122;
	width: 231px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 14px;
	border-color: #FFFFFF;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: 262px;
	background: #FFFFFF url("../images/lion-face.jpg") no-repeat center center;
	background-size: contain;
}

#u5170:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 231px;
	min-height: 0px;
	margin: -7px -10000px -7px 0px;
	background-size: contain;
}

#u5171-4
{
	z-index: 123;
	width: 238px;
	min-height: 238px;
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -4px;
}

#u5172
{
	z-index: 127;
	width: 231px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 14px;
	border-color: #FFFFFF;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: 534px;
	background: #FFFFFF url("../images/ice-cream2.jpg") no-repeat center center;
	background-size: cover;
}

#u5172:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 231px;
	min-height: 0px;
	margin: -7px -10000px -7px 0px;
	background-size: cover;
}

#u5173-4
{
	z-index: 128;
	width: 238px;
	min-height: 238px;
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -4px;
}

#pu5106-3
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 25px;
}

#u5106-3
{
	z-index: 110;
	width: 782px;
	min-height: 24px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 1px;
}

#u5204
{
	z-index: 132;
	width: 231px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 14px;
	border-color: #FFFFFF;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: -7px;
	background: #FFFFFF url("../images/medal.png") no-repeat center center;
	background-size: contain;
}

#u5204:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 231px;
	min-height: 0px;
	margin: -7px -10000px -7px 0px;
	background-size: contain;
}

#u5205-4
{
	z-index: 133;
	width: 238px;
	min-height: 238px;
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -4px;
}

#u5210
{
	z-index: 137;
	width: 231px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 14px;
	border-color: #FFFFFF;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: 262px;
	background: #FFFFFF url("../images/stars-2.png") no-repeat center center;
	background-size: contain;
}

#u5210:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 231px;
	min-height: 0px;
	margin: -7px -10000px -7px 0px;
	background-size: contain;
}

#u5211-4
{
	z-index: 138;
	width: 238px;
	min-height: 238px;
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -4px;
}

#u5216
{
	z-index: 142;
	width: 231px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 14px;
	border-color: #FFFFFF;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: 534px;
	background: #FFFFFF url("../images/%d0%be%d1%80%d0%b4%d0%b5%d0%bd-sb.png") no-repeat center center;
	background-size: contain;
}

#u5216:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 231px;
	min-height: 0px;
	margin: -7px -10000px -7px 0px;
	background-size: contain;
}

#u5167:hover::before,#u5170:hover::before,#u5172:hover::before,#u5204:hover::before,#u5210:hover::before,#u5216:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -14px;
	left: -14px;
	bottom: -14px;
	right: -14px;
	box-shadow: inset -10px 58px 99px rgba(255,255,255,0.75), inset 10px -58px 99px rgba(0,0,0,0.75);
}

#u5217-4
{
	z-index: 143;
	width: 238px;
	min-height: 238px;
	border-style: solid;
	border-width: 1px;
	border-color: #E792C4;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: bitter, serif;
	font-weight: 400;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -4px;
}

#u5169-4:hover,#u5171-4:hover,#u5173-4:hover,#u5205-4:hover,#u5211-4:hover,#u5217-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 238px;
	width: 238px;
	margin: -4px -10000px -5px 0px;
}

#u5169-4:hover p,#u5171-4:hover p,#u5173-4:hover p,#u5205-4:hover p,#u5211-4:hover p,#u5217-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 19px;
	padding-top: 105px;
}

#u5169-2,#u5171-2,#u5173-2,#u5205-2,#u5211-2,#u5217-2
{
	padding-top: 105px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#pu3093
{
	width: 0.01px;
	margin-top: 7px;
}

#u3093
{
	z-index: 3;
	width: 862px;
	padding-left: 80px;
	padding-top: 30px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u3252-8
{
	z-index: 58;
	width: 782px;
	min-height: 19px;
	position: relative;
}

#u3252-8:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 782px;
	margin: 0px;
}

#u5246-4
{
	z-index: 67;
	width: 104px;
	min-height: 19px;
	margin-left: 758px;
	margin-top: 8px;
	position: relative;
}

#u5246-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 104px;
	margin: 8px 0px 0px 758px;
}

#u4305
{
	z-index: 66;
	width: 33px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 953px;
}

.html
{
	background-color: #1A1A1A;
}

body
{
	position: relative;
	min-width: 942px;
}

