.version.privacy_policy /* version checker */
{
	color: #000018;
	background-color: #78F128;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 761px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #333333;
	margin-left: auto;
	margin-right: auto;
}

#pu3090
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -50px;
}

#u3090
{
	z-index: 2;
	width: 848px;
	margin-left: 50px;
	position: relative;
	padding: 17px 47px 11.049999999999983px;
}

#u3237-6
{
	z-index: 52;
	width: 308px;
	min-height: 83px;
	margin-left: 270px;
	position: relative;
}

#menuu3110
{
	z-index: 6;
	width: 848px;
	margin-top: 6px;
	position: relative;
}

#u3111
{
	width: 139px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u3112
{
	width: 139px;
	padding-bottom: 17px;
	position: relative;
}

#u3112:hover
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3112:active
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3114-4
{
	width: 139px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3112:hover #u3114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3112:active #u3114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3118
{
	width: 139px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 141px;
}

#u3119
{
	width: 139px;
	padding-bottom: 17px;
	position: relative;
}

#u3112.MuseMenuActive,#u3119:hover
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3119:active
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3119.MuseMenuActive
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3122-4
{
	width: 139px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3112.MuseMenuActive #u3114-4,#u3119:hover #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3119:active #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3119.MuseMenuActive #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u4801
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u4802
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u4802:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u4802:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u4804-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u4802:hover #u4804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u4802:active #u4804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3155
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 424px;
}

#u3156
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u4802.MuseMenuActive,#u3156:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3156:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3158-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u4802.MuseMenuActive #u4804-4,#u3156:hover #u3158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3156:active #u3158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3176
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 566px;
}

#u3177
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u3156.MuseMenuActive,#u3177:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3177:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3178-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3156.MuseMenuActive #u3158-4,#u3177:hover #u3178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3177:active #u3178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3197
{
	width: 140px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 708px;
}

#u3198
{
	width: 140px;
	padding-bottom: 17px;
	position: relative;
}

#u3177.MuseMenuActive,#u3198:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3198:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3198.MuseMenuActive
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u3200-4
{
	width: 140px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3177.MuseMenuActive #u3178-4,#u3198:hover #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3198:active #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u3198.MuseMenuActive #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#ppu1251-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 130px;
}

#pppu1251-4,#pu1251-4
{
	width: 0.01px;
}

#u1251-4
{
	z-index: 102;
	width: 216px;
	min-height: 34px;
	background-color: transparent;
	line-height: 36px;
	color: #E792C4;
	text-align: center;
	font-size: 30px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 283px;
}

#u1252
{
	z-index: 106;
	width: 782px;
	height: 16px;
	border-style: solid;
	border-color: #0093C4;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	border-width: 0px 0px 1px;
}

#u1250-37
{
	z-index: 65;
	width: 782px;
	min-height: 834px;
	background-color: transparent;
	font-family: bitter, serif;
	font-weight: 400;
	margin-top: 23px;
	position: relative;
}

#u1250-3,#u1250-18,#u1250-24
{
	font-size: 16px;
	line-height: 19px;
}

#u1250-5,#u1250-11,#u1250-20,#u1250-26,#u1250-32
{
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #E792C4;
}

#u1250-6,#u1250-12,#u1250-21,#u1250-27,#u1250-33
{
	font-size: 20px;
	line-height: 24px;
	color: #E792C4;
}

#u1250-2,#u1250-8,#u1250-9,#u1250-14,#u1250-15,#u1250-17,#u1250-23,#u1250-29,#u1250-30,#u1250-35
{
	font-size: 16px;
	line-height: 19px;
	color: #9E9E9E;
}

#u3099
{
	z-index: 4;
	width: 111px;
	min-height: 271px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u3104
{
	z-index: 5;
	width: 17px;
	height: 515px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#pu4273-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 167px;
	margin-left: 942px;
}

#u4273-4
{
	z-index: 43;
	margin-bottom: -8px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u3222-5
{
	z-index: 47;
	width: 114px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: -44px;
}

#u3093
{
	z-index: 3;
	width: 942px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u3252-6
{
	z-index: 58;
	width: 782px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 80px;
}

#u3252-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 782px;
	margin: 30px -10000px 0px 0px;
}

#u4305
{
	z-index: 64;
	width: 33px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 953px;
}

.html
{
	background-color: #1A1A1A;
}

body
{
	position: relative;
	min-width: 942px;
}

.verticalspacer
{
	min-height: 1px;
}

