.version.resume /* version checker */
{
	color: #000000;
	background-color: #6BCEDE;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 942px;
	min-height: 760.9499999999998px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #333333;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -6px;
	width: 0.01px;/* should not cover content below */
}

#u3090
{
	z-index: 2;
	width: 848px;
	position: relative;
	padding: 17px 47px 11.049999999999983px;
}

#u3237-6
{
	z-index: 46;
	width: 308px;
	min-height: 83px;
	margin-left: 270px;
	position: relative;
}

#menuu3110
{
	z-index: 6;
	width: 848px;
	margin-top: 6px;
	position: relative;
}

#u3111
{
	width: 168px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u3112
{
	width: 168px;
	padding-bottom: 17px;
	position: relative;
}

#u3112:hover
{
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u3112:active
{
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u3114-4
{
	width: 168px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3112:hover #u3114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#u3112:active #u3114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#u3118
{
	width: 168px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 170px;
}

#u3119
{
	width: 168px;
	padding-bottom: 17px;
	position: relative;
}

#u3112.MuseMenuActive,#u3119:hover
{
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u3119:active
{
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u3122-4
{
	width: 168px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3112.MuseMenuActive #u3114-4,#u3119:hover #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#u3119:active #u3122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#u3155
{
	width: 168px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u3156
{
	width: 168px;
	padding-bottom: 17px;
	position: relative;
}

#u3119.MuseMenuActive,#u3156:hover
{
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u3156:active
{
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u3158-4
{
	width: 168px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3119.MuseMenuActive #u3122-4,#u3156:hover #u3158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#u3156:active #u3158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#u3197
{
	width: 168px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#u3198
{
	width: 168px;
	padding-bottom: 17px;
	position: relative;
}

#u3156.MuseMenuActive,#u3198:hover
{
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u3198:active
{
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u3200-4
{
	width: 168px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3156.MuseMenuActive #u3158-4,#u3198:hover #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#u3198:active #u3200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#u3176
{
	width: 168px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u3177
{
	width: 168px;
	padding-bottom: 17px;
	position: relative;
}

#u3198.MuseMenuActive,#u3177:hover
{
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u3177:active
{
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u3177.MuseMenuActive
{
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u3178-4
{
	width: 168px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u3198.MuseMenuActive #u3200-4,#u3177:hover #u3178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#u3177:active #u3178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#u3177.MuseMenuActive #u3178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 168px;
	margin: 0px -10000px 0px 0px;
}

#pu3099
{
	width: 0.01px;
	margin-left: -50px;
}

#u3099
{
	z-index: 4;
	width: 111px;
	min-height: 271px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u3104
{
	z-index: 5;
	width: 17px;
	height: 515px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u4273-4
{
	z-index: 37;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 991px;
}

#u3222-5
{
	z-index: 41;
	width: 114px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 946px;
}

#u1253-39
{
	z-index: 59;
	width: 782px;
	min-height: 539px;
	background-color: transparent;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 130px;
}

#u1253-2
{
	font-size: 25px;
	text-align: center;
	line-height: 30px;
	color: #FFFFFF;
}

#u1253-4,#u1253-6
{
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	color: #FFFFFF;
}

#u1253-10
{
	font-size: 25px;
	line-height: 30px;
	color: #0093C4;
}

#u1253-11
{
	font-size: 14px;
	color: #534741;
}

#u1253-20
{
	color: #FFFFFF;
	font-weight: 700;
}

#u1253-21,#u1253-24
{
	color: #9E9E9E;
}

#u1253-18,#u1253-22,#u1253-25,#u1253-26,#u1253-27
{
	font-size: 16px;
	line-height: 19px;
}

#u1253-7,#u1253-9,#u1253-13,#u1253-14,#u1253-15,#u1253-17,#u1253-29,#u1253-30,#u1253-32,#u1253-33,#u1253-35,#u1253-36
{
	font-size: 25px;
	text-align: left;
	line-height: 30px;
	color: #0093C4;
}

#u1253-37
{
	font-size: 20px;
	text-align: left;
	line-height: 24px;
	color: #0093C4;
}

#slideshowu4628
{
	z-index: 98;
	width: 0.01px;
	height: 284px;
	margin-left: 96px;
	margin-top: 148px;
	position: relative;
}

#u4651
{
	position: absolute;
	width: 1184px;
	height: 799px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -161px;
	left: -22px;
	-pie-background: rgba(0,0,0,0.9);
}

#u4651popup
{
	z-index: 99;
}

#u4652
{
	z-index: 100;
	width: 1140px;
	height: 755px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4652_img
{
	padding-left: 303px;
	padding-right: 303px;
}

#u4631
{
	position: absolute;
	width: 750px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 29px;
}

#u4631popup
{
	z-index: 102;
}

#u4638
{
	z-index: 103;
	width: 177px;
	height: 251px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 286px;
}

#u4638:hover
{
	width: 177px;
	height: 251px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u4650-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 170px;
	left: -45px;
}

#u4650-4popup
{
	z-index: 105;
}

#u4663-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 170px;
	left: 1160px;
}

#u4663-4popup
{
	z-index: 109;
}

#u4642
{
	position: absolute;
	width: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -139px;
	left: 1155px;
}

#u4642:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u4642:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u4643-4
{
	z-index: 114;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3093
{
	z-index: 3;
	width: 942px;
	padding-bottom: 28px;
	position: relative;
}

#u3252-6
{
	z-index: 52;
	width: 622px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 160px;
}

#u3252-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 622px;
	margin: 30px -10000px 0px 0px;
}

#u4305
{
	z-index: 58;
	width: 33px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 893px;
}

.html
{
	background-color: #1A1A1A;
}

body
{
	position: relative;
	min-width: 942px;
}

