.version.website_karolinaray_tk /* version checker */
{
	color: #000005;
	background-color: #CE402F;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 13px;
	width: 0.01px;/* should not cover content below */
}

#u1721-7
{
	z-index: 12;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1721-2
{
	font-size: 25px;
	line-height: 30px;
}

#u1721-5
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u1781-6
{
	z-index: 20;
	width: 600px;
	min-height: 33px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1723
{
	z-index: 19;
	width: 600px;
	height: 330px;
	position: relative;
	background: transparent url("../images/karolinaray.jpg") no-repeat left top;
	background-size: contain;
}

#u1722-10
{
	z-index: 2;
	width: 600px;
	min-height: 56px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u1722-2,#u1722-5
{
	color: #FFFFFF;
}

.html
{
	background-color: #FF99FF;
}

body
{
	position: relative;
	min-width: 600px;
}

