.version.website_milenarussianprincess_tk /* version checker */
{
	color: #0000F0;
	background-color: #9DE5E8;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 13px;
	width: 0.01px;/* should not cover content below */
}

#u4344-6
{
	z-index: 17;
	width: 600px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u4344-2
{
	font-size: 25px;
	line-height: 30px;
}

#u4344-4
{
	font-size: 20px;
	text-transform: none;
	line-height: 24px;
	color: #FFFFFF;
}

#u4342-6
{
	z-index: 24;
	width: 600px;
	min-height: 42px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u4342-3,#u4342-4
{
	color: #000000;
}

#u4345
{
	z-index: 23;
	width: 600px;
	height: 305px;
	position: relative;
	background: transparent url("../images/milenarussianprincess.jpg") no-repeat right top;
	background-size: cover;
}

#u4343-15
{
	z-index: 2;
	width: 600px;
	min-height: 66px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: bitter, serif;
	font-weight: 400;
	position: relative;
}

#u4343-2,#u4343-5
{
	color: #FFFFFF;
}

.html
{
	background-color: #FF99FF;
}

body
{
	position: relative;
	min-width: 600px;
}

